.cursor-pointer {
  cursor: pointer;
}

/*Layout*/
span,
p {
  font-size: 11px;
}

.v-input--switch__thumb.theme--light.primary--text {
  color: white !important;
}

.v-input--switch__track {
  color: var(--v-primary-base);
  opacity: 1;
}

.v-expansion-panel:before {
  box-shadow: none;
}
